body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    margin: 0;
    background-color: black;
}
.fcontainer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}
#backbaord-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}
#backbaord-fg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 20;
}
#slideshow {
    width: calc(100% - 6em);
    padding: 2em 3em 6em 3em;
    z-index: 15;
}
#slideshow-full {
    width: calc(100% - 4em);
    margin: 2em 2em 6em 2em;
    z-index: 10;
}
#slideshow, #slideshow-full {
    position: relative;
    height: calc(100% - calc(2em + 6em));
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.polaroid .image-container {
    position: relative;
}
.image-container.active {
    opacity: 1;
}
.image-container img {
    object-fit: contain;
    width: 100vw;
    max-height: calc(100vh - calc(2em + 6em));
}
#slideshow-full .image-container img {
    filter: drop-shadow(0px 0px 15px black);
}
.polaroid img {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: unset;
    max-width: 256px;
    min-width: 128px;
    min-height: 128px;
    position: absolute;
    border: 0.5em solid white;
    border-bottom-width: 4em;
    border-radius: 7px;
    background: #2b2b2b;
    filter: drop-shadow(0px 0px 8px black);
}
div#chat-fg {
    width: 640px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    z-index: 40;
    margin-bottom: 17em;
    margin-left: 14em;
    background: white;
    border: solid 5px #00849b;
    border-radius: 0.75em;
    padding: 0.5rem 1rem;
    filter: drop-shadow(0px 0px 15px black);
    rotate: -9deg;
}
.chat-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    align-content: center;
    font-size: 16px;
    padding: 0.7rem 0;
    font-style: normal;
    font-family: system-ui;
    font-weight: bold;
}
.chater-name {
    margin-right: 0.5em;
    min-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    background: #00849b;
    padding: 0.1em 0.3em;
    border-radius: 0.4em;
    color: white;
}
.error-message {
    font-size: 48px;
    font-family: system-ui;
    padding: 0.5em;
    font-weight: bold;
    color: #ff3e3e;
}
.messages {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.chat-message.holder > span {
    padding-left: 0.25em;
}
.chater-text {
    text-align: right;
    width: 100%;
}
.chat-message.holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.chat-message.holder.no-messages {
    color: #00849b;
}
.header-holder {
    position: absolute;
    top: 0;
    right: 0;
    rotate: 9deg;
    font-size: 28px;
    font-family: system-ui;
    font-weight: 500;
}
.header {
    background: #00849b;
    color: white;
    border-radius: 0.5em;
    padding: 0.35rem 0.8rem;
    position: relative;
    top: -1em;
    left: 1.3em;
}
.header > span {
    padding-left: 0.5rem;
}
